---
import { Icon } from "astro-icon/components";

const { page } = Astro.props;

interface Props {
  page: IPage;
}

interface IPage {
  url: string;
  language: string;
  title: string;
  technologies?: Array<string>;
}
---
<a href={page.url} class="flex flex-col border-4 border-slate-800 rounded-lg p-3 shadow-lg transition-all group hover:bg-orange-500/75">
  <header class="text-xl text-semibold">
    <div class="underline transition-all group-hover:font-bold">{page.url.replace("https://", "")}</div>
  </header>

  <p class="my-2 mx-auto"><Icon name={`twemoji:flag-${page.language === "pl" ? "poland" : "united-kingdom"}`} class="text-lg transition-all group-hover:text-xl" /></p>

  <p class="grow mb-2 text-sm">{page.title}</p>

  {page.technologies !== undefined && (
    <footer class="text-xs text-left"><strong>Tech Stack</strong>: {page.technologies.join(", ")}</footer>
  )}
</a>
